.button {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  background-color: #C4C4C4;
  border-radius: 5px;
  letter-spacing: -0.02em;
  padding-top: 28px;
  padding-right: 45px;
  padding-bottom: 28px;
  padding-left: 45px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.button__arrow {
  height: 7px;

}