.header {
  padding-top: 40px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  gap: 180px;
  @include media-tablet {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.header__nav {
  width: 100%;
}

.header__list {
  @include flex-center;
  gap: 130px;
  @include media-tablet {
    display: flex;
    gap: 30px;
  }
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.header__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}