.header{
  padding-top: 40px;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  gap: 180px;
}

.header__list {
  @include flex-center;
  gap: 130px;
}

.header__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}