.subscribe {
  padding-top: 125px;
  padding-bottom: 105px;
  background-color: rgba(237, 237, 237, 0.4);
}

.subscribe__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe__heading {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
  width: 600px;
  text-align: center;
}

.subscribe__label {
  width: 900px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  display: flex;
}


.subscribe__input{
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  background-color: #C4C4C4;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
}

.subscribe__button{
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
}