.hero-about {
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-tablet {
    padding-bottom: 25px;
  }
}

.hero-about__heading {
  margin-bottom: 50px;
}

.hero__list {
  @include flex-center;
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.hero__list-icon {
  margin-bottom: 20px;
  width: 110px;
}

.hero-about__subheading {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 35px;
  @include media-tablet {
    margin-bottom: 25px;
  }
}

.hero-about__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
