.hero-gallery {
  padding-top: 50px;
  padding-bottom: 90px;
  @include media-tablet {
    padding-bottom: 40px;
  }
}

.hero-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.hero-gallery__first {
  width: 970px;
}

.hero-gallery__image--first {
  width: 100%;
  height: 510px;
}

.hero-gallery__second {
  width: 660px;
}

.hero-gallery__image--second {
  width: 100%;
  height: 510px;
}

.hero-gallery__third {

  width: 400px;
}

.hero-gallery__image--third {
  width: 100%;
  height: 610px;
}

.hero-gallery__fourth {
  width: 560px;
}

.hero-gallery__image--fourth {
  width: 100%;
  height: 550px;
}

.hero-gallery__fifth {
  width: 500px;
}

.hero-gallery__image--fifth {
  width: 100%;
  height: 640px;
}

.hero-gallery__sixth {
  width: 490px;
}

.hero-gallery__image--sixth {
  width: 100%;
  height: 555px;
}

.hero-gallery__seventh {
  width: 1140px;
}

.hero-gallery__image--seventh {
  width: 100%;
  height: 555px;
}

.hero-gallery__button{
  margin-top: 80px;
}