.hero {
  background: linear-gradient(180deg, #EDEDED 0%, #FFFFFF 100%);
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero__container {
  @include flex-center;
  padding-bottom: 50px;
}

.main-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 90px;
  width: 300px;
}

.hero__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  width: 770px;
  margin-bottom: 140px;
}

.hero__image-wrapper {
  width: 590px;
}

.hero__image {
  width: 100%;
}

