.our-mission {
  padding-top: 45px;
  padding-bottom: 25px;
}

.our-mission__container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.our-mission__heading {
  margin-bottom: 120px;
}

.our-mission__text-wrapper {
  width: 900px;
}