.our-vision {
  padding-top: 25px;
  padding-bottom: 270px;
  @include media-tablet {
    padding-bottom: 135px;
  }
  @include media-mobile {
    padding-bottom: 50px;
  }
}

.our-vision__container {
  display: flex;
  gap: 80px;
  align-items: center;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.our-vision__heading {
  margin-bottom: 120px;
  @include media-tablet {
    margin-bottom: 80px;
  }
}

.our-vision__text-wrapper{
  width: 900px;
  @include media-tablet {
    width: 90%;
  }
}