.our-vision {
  padding-top: 25px;
  padding-bottom: 270px;
}

.our-vision__container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.our-vision__heading {
  margin-bottom: 120px;
}

.our-vision__text {
  width: 900px;
}