.our-mission {
  padding-top: 45px;
  padding-bottom: 25px;
}

.our-mission__container {
  display: flex;
  gap: 80px;
  align-items: center;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.our-mission__heading {
  margin-bottom: 120px;
  @include media-tablet {
    margin-bottom: 80px;
  }
}

.our-mission__text-wrapper {
  width: 900px;
  @include media-tablet {
    width: 90%;
  }
}